.designr-hidden {
    height: 0 !important;
    opacity: 0 !important;
    margin: 0 !important;;
    padding: 0 !important;;
    overflow: hidden !important;
}

.customize-control {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition:  all 0.3s ease-in-out;
}